<% if (bootstrap) { %>@import "../../bower_components/bootstrap-stylus/bootstrap";<% } %>
<% if (fontawesome) { %>@import "../../bower_components/font-awesome/css/font-awesome.min.css";<% } %>
// Google Font
@import url( http://fonts.googleapis.com/css?family=Lato:400,700,900 );

// Variables
@import "variables.styl";
